<% color ="" %>
<%if order %>
  <% if order.aasm_state == "order_placed" %>
    <% color = "portlet red-sunglo box"%>
  <% else %>
    <% color = "portlet yellow-crusta box"%>
  <% end %>

  <div class="col-lg-12 col-md-5 col-lg-offset-right-1 col-sm-12 vcenter">
    <div class= "<%= color %>" >
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-cogs"></i>Order Details:
        </div>
        <div class="actions">
          <a href="javascript:;" class="btn btn-default btn-sm">
          <i class="fa fa-pencil"></i> Edit </a>
        </div>
      </div>
      <div class="portlet-body">
        <div class="row static-info">
          <div class="col-md-2 name">
             ordernumber:
          </div>
          <div class="col-md-10 value">
             <%= order.serial_number %>
          </div>
        </div>
        <div class="row static-info">
          <div class="col-md-2 name">
             訂單狀態:
          </div>
          <div class="col-md-10 value">
            <span class="label label-success">
            <%= t(order.aasm_state) %> </span> &nbsp &nbsp
            <% if order.aasm_state == 'order_placed' %>
                <%= link_to "標記完成", admin_order_make_payment_path(order), class: "btn btn-sm btn-danger" %>
                <%= link_to "標記外送中", admin_order_make_payment_path(order), class: "btn btn-sm btn-danger" %>
            <% end %>
          </div>
        </div>
        <div class="row static-info">
          <div class="col-md-2 name">
             取餐方式:
          </div>
          <div class="col-md-10 value">
             <%= order.delivery_method %>
          </div>
        </div>
      </div>
    </div>
    <% end %>

  </div>
