<div class="container-fluid">
  <div class="row">
    <div class= "col-md-2"></div>
      <div class="col-md-8">
        <h4> 歷史訂單</h4>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th> 訂單編號 </th>
                <th> 客戶 </th>
                <th> 訂單內容 </th>
                <th> 訂單總價格 </th>
                <th> 訂單生成時間 </th>
                <th> 取餐方式 </th>
                <th> 訂單狀態 </th>

              </tr>
            </thead>
            <tbody>
              <tr>
              <% @orders.each do |order| %>
                <th><%= order.id %></th>
                <th> <%= User.find(order.user_id).email %></th>
                <th>
                  <table class="table table-condensed ">
                    <thead>
                      <tr>
                        <th>名稱</th>
                        <th>單價</th>
                        <th>數量</th>

                      </tr>
                    </thead>
                    <tbody>
                      <% order.items.each do |item| %>
                        <tr>
                          <th> <%= item.product_name %> </th>
                          <th> <%= item.price %> </th>
                          <th> <%= item.quantity %></th>
                        </tr>
                    </tbody>
                    <%end%>
                  </table>
                </th>
                <th> 新台幣 <%= order.total_price %> 元</th>
                <th> <%= order.updated_at %></th>
                <th><%= order.delivery_method %> </th>
                <th>
                  <%= t(order.aasm_state) %>
                  <br><br><br>
                  <% if order.aasm_state == 'order_placed' %>
                    <%= link_to "標記已付款", admin_order_make_payment_path(order), class: "btn btn-sm btn-danger" %>
                  <%end %>
                </th>
              </tr>
            </tbody>
              <% end %>
          </table>
      </div>
    <div class= "col-md-2"></div>
  </div>
</div>

