<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-1 col-md-offset-right-1 col-sm-12">
      <br>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th> 商品 </th>
            <th> 價格 </th>
            <th> 數量 </th>
          </tr>
        </thead>

        <tbody>
          <% current_cart.cart_items.each do |item| %>
          <tr>
            <td> <%= item.product.name %> </td>
            <td> <%= item.product.price %> </td>
            <td> <%= item.quantity %> </td>
          </tr>
        </tbody>
          <%end%>
      </table>
        <div class="well">總價 <h3><%= current_cart.total_price %> NTD</h3> </div>
    </div>
        <div class= "col-md-4 col-md-offset-1 col-md-offset-right-1 col-sm-12">
      <div class="well"> <br>
        <%= bootstrap_form_tag url: "/certificate_phone", method: 'get' do |f| %>
          <%= f.text_field 'phone', style: "width:150px;" %>
          <%= f.submit  '獲取您的驗證碼', class: 'btn btn-lg btn-info' %>
        <% end %>
      </div>

      <br>
      <div class="well">
        <%= bootstrap_form_for(@order) do |f| %>
          <strong> 取餐方式 </strong>  <br><br>
          <%= hidden_field_tag :match_method, "internet" %>
          <%= radio_button_tag(:delivery_method, "to_go", :selected) %>
          <%= label_tag(:delivery_method, "店內取餐") %> <br>
          <%= radio_button_tag(:delivery_method, "delivery", :selected) %>
          <%= label_tag(:delivery_method, "外送") %> <br>
          <br>
          <%= f.text_field :verified_phone, label: ' 請輸入您的驗證碼 ',style: "width:150px;" %>
          <%= f.submit '生成訂單', class: 'btn btn-lg btn-danger' %>
        <% end %>
      </div>
    </div>

  </div>


  </div>


</div>

