<div class="container">
<div class="row">
  <div class="col-sm-6 col-md-12">
    <h2> 購物車 </h2>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th> 商品 </th>
          <th> 價格 </th>
          <th> 數量 </th>
          <th> 刪除 </th>
        </tr>
      </thead>

      <tbody>
        <% current_cart.cart_items.each do |item| %>
        <tr>
          <td> <%= item.product.name %> </td>
          <td> <%= item.product.price %> </td>
          <td>
            <%= form_for item, :url => cart_item_path(id: item.id) do |f| %>
              <%= f.number_field :quantity, :min => 1 , :value => item.quantity %>
              <%= button_tag(type: 'submit', class: "btn btn-default btn-xs") do %>
                 <i class="glyphicon glyphicon-hand-up"></i>
              <% end %>
            <% end -%>
          </td>
          <td>
            <%= link_to "",cart_item_path(id: item.id), class: "glyphicon glyphicon-trash", method: :delete %>
          </td>

        </tr>
      </tbody>
        <%end%>
    </table>
  </div>
</div>

<div class= "row">
  <div class= "col-md-2">
    <%= link_to "繼續選擇產品",products_path, class: "btn btn-lg btn-danger" %>
  </div>
   <div class="col-md-8"></div>
  <div class= "pull-right">
    <%= link_to "確認結帳", orders_path, class: "btn btn-lg btn-primary" %>
  </div>

</div>
</div>