<div class="container">
  <div class="row">
    <div class= "col-md-2"></div>
    <div class="col-sm-6 col-md-8">
      <h2>  </h2>
      <%= form_tag update_cart_content_carts_path do -%>
      <table class="table table-bordered table-striped table-responsive">
        <thead>
          <tr>
            <th> 商品 </th>
            <th> 價格 </th>
            <th> 數量 </th>
            <th> 刪除 </th>
          </tr>
        </thead>
        <tbody>
          <% current_cart.cart_items.each do |item| %>
          <tr>
            <%= hidden_field_tag "cart_items[][id]", item.id %>
            <td> <%= item.product.name %> </td>
            <td> <%= item.product.price %> </td>
            <td>
              <%= text_field_tag "cart_items[][quantity]", item.quantity,
              style: "width:100px;" %>
            </td>
            <td>
              <%= link_to "",cart_item_path(id: item.id), class: "glyphicon glyphicon-trash", method: :delete %>
            </td>
          </tr>
        </tbody>
          <%end%>
      </table>
       <%= submit_tag  "CheckOut", class: "btn btn-danger btn-lg" %>
      <% end %>
    </div>
    <div class= "col-md-2"></div>
  </div>
</div>

