<!DOCTYPE html>
<html>
  <head>
    <title>Papichang</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">

    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <% flash.each do |name, msg| -%>
      <div class="alert alert-warning"><%= msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">x</span>
        </button>
      </div>
    <% end -%>
        <%= render "shared/header"%>


    <div class="container-fluid">
      <%= yield %>
    </div>
    <script>
      jQuery(document).ready(function() {
             // Core initialization 
             Metronic.init(); // init metronic core components(mandatory)
             Layout.init(); // init current layout(mandatory)
      })
    </script>
  </body>
</html>

