<!DOCTYPE html>
<html>
  <head>
    <title>Papichang</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body class="login">

    <% flash.each do |name, msg| -%>
      <div class="alert alert-warning"><%= msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true" class="icon--close">x</span>
        </button>
      </div>
    <% end -%>
      <div class="container-fluid">
        <%= render "shared/header"%>
        <%= yield %>
      </div>
    <!-- BEGIN FOOTER -->
      <div class="page-footer">
        <div class="page-footer-inner">
           2014 &copy; PapiChang Delivery
        </div>
        <div class="scroll-to-top">
          <i class="icon-arrow-up"></i>
        </div>
      </div>
    <!-- END FOOTER -->


  </body>
</html>

<script>
  jQuery(document).ready(function() {
    Metronic.init(); // init metronic core components
    Layout.init(); // init current layout
    Login.init();
    Demo.init();
    // init background slide images
    $.backstretch([
        "/assets/1.jpg",
      ], { fade: 1000, duration: 8000 }
    );
  });
</script>

